:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --drawing-color: black;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  width: 60%;
  margin: auto;
}

#container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  margin-inline: 60px;
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;

  /* this will make squares out of divs 
  however, padding-top: 100% doesnt allow text easily
  1) need to create <div> inside .grid-item with name .container
  2) give position: relative to .grid-item
  3) give position: aboslute to .container
  4) set top and left value to 0 in .container*/
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

input {
  width: 50px;
  margin-right: 10px;
}

.color-container {
  display: flex;
  justify-content: center;
}
